
/*
contentCar
 */
/*carHTML*/
.carHTML{overflow-y: auto;}
.carHTML body{overflow-y: auto;}
.contentCar { width:100%; position:relative;  overflow:hidden;background: #000;}

.car_kv{ position:relative;z-index: 0;/*height: 300px;*/}
.car_kv .ulPic{ position:relative; z-index:1; left:0; top:0; width:100%; height:100%; overflow:hidden;text-align:center;}
.car_kv .ulPic li { width:100%; height:100%; float:left; background-repeat: no-repeat; background-position: 50% 0%;background-size: auto 100%;  }
.car_kvInfo{ background: url(../img/trax/page_bottom.jpg) no-repeat 50% 0;/*background-size: 100% auto;*/}
.car_kvInfo .kvName{text-align:center; background: #250b0c; line-height: 30px;height: 30px; overflow: hidden; color: #fff; /*visibility: hidden;text-indent: -999px;*/}
.car_kv .ulSwitch{/* position:absolute; z-index:2; left:0; bottom:-20%; width:100%;*/ text-align:center;}
.car_kv .ulSwitch li{ display:inline-block; width:20px; height:20px;}
.car_kv .ulSwitch li a{ width:10px; height:10px; display:inline-block; margin:0 auto; background:#fff;  border-radius:5px 5px 5px 5px;}
.car_kv .ulSwitch li.liCurr a{ background:#b90108; }
.car_feature{position: relative; top: -20px; z-index: 2;text-align:center; background: url(../img/trax/feature_trax.jpg) no-repeat 50% 0;background-size: 100% auto; margin: 0 10px; height: 80px;}



/**/
.car_detail{ width:100%; /*position:absolute; top:0; left: 0;*/ text-align:center; color:#fff; }
.car_detail .bg { width:100%;}
.car_detail .cmnBox { position:absolute; z-index:0; left:0; top:0; text-align:left;width:100%;height: 480px; overflow: hidden; }
.car_detail .cmnBox .imgBg{ width: 100%;}
.car_detail .cmnBox .cnt{ position: absolute;z-index: 0;left: 0;top:0;width: 100%; height: 100%;}


/**/
.car_detail .box1 {z-index: 1; background: url(../img/trax/page_bg_1.jpg) no-repeat 50% 55%; background-size:100% auto; }
.car_detail .box1 .pic {position: absolute; z-index: 1;top: 50%;left: 50%; width: 200px;}
.car_detail .box1 .pic img{width:100%;}
.car_detail .box1 .pic_1 {margin: -212px 0 0 -100px;}	
.car_detail .box1 .pic_2 {margin: -120px 0 0 -100px;}	
.car_detail .box1 .pic_3 {margin: -28px 0 0 -100px;}	
.car_detail .box1 .pic_4 {margin: 74px 0 0 -100px;}	


/**/
.car_detail .box2 {z-index: 1; background: url(../img/trax/page_bg_2.jpg) no-repeat 50% 55%; background-size:100% auto; }
.trans{ -webkit-transition-property:top; -moz-transition-property:top; -ms-transition-property:top; -o-transition-property:top; transition-property:top; -webkit-transition-duration:500ms; -moz-transition-duration:500ms; -ms-transition-duration:500ms; -o-transition-duration:500ms; transition-duration:500ms; }

.car_detail .box2 .pic{position: absolute; z-index: 1;top: 50%;left: 50%;}
.car_detail .box2 .pic img{width:100%;}
.car_detail .box2 .pic_1 {width: 60px; margin: -52px 0 0 -20px;}
.car_detail .box2 .pic_2 {width: 60px; margin: -52px 0 0 44px;}
.car_detail .box2 .pic_3 {width: 288px; margin: 0 0 0 -144px;}
.car_detail .box2 .pic_4 {width: 60px; margin: 130px 0 0 -30px;}


/**/
.car_detail .box3 {z-index: 1; background: url(../img/trax/page_bg_3.jpg) no-repeat 50% 55%; background-size:100% auto; }
.car_detail .box3 .cnt{left:8%;top:80%;margin:-71px 0 0 -17px;width: 140px;}
.car_detail .box3 .pic{width: 61px; float: left;}
.car_detail .box3 .pic img{width:100%;}
.car_detail .box3 .pic_1 {margin: 0 4px 0 0;}
.car_detail .box3 .pic_2 {margin: 0 0 0 0;}


/**/
.car_detail .box4{z-index: 1;background: url(../img/trax/page_bg_4.jpg) no-repeat 50% 55%;  background-size:100% auto;}

.car_detail .box4 .cnt{left:60%;top:74%; width: 120px;}
.car_detail .box4 .pic{width: 56px; float: left;} 
.car_detail .box4 .pic img{width:100%;}
.car_detail .box4 .pic_1 {margin: 0 4px 0 0;}
.car_detail .box4 .pic_2 {margin: 0 0px 0 0;}


/**/
.car_detail .box5 {z-index: 1;background: url(../img/trax/page_bg_5.jpg) no-repeat 50% 55%;background-size:100% auto;}
.car_detail .box5 .cnt{left:50%;top:96%;margin:-105px 0 0 -132px;width: 138px;}
.car_detail .box5 .pic{width: 56px; float: left;}
.car_detail .box5 .pic img{width:100%;}
.car_detail .box5 .pic_1 {margin: 0 6px 0 0;}
.car_detail .box5 .pic_2 {margin: 0 0px 0 0;}


/**/
.car_detail .box6 {z-index: 1; background: url(../img/trax/page_bg_6.jpg) no-repeat 50% 55%; background-size:100% auto; }
.car_detail .box6 .cnt{position: absolute;left:63%;top:39%;margin:80px 0 0 -25px;width: 128px;}
.car_detail .box6 .pic{width: 56px; float:left;}
.car_detail .box6 .pic img{width:100%;}
.car_detail .box6 .pic_1 {margin: 0 6px 0 0;}
.car_detail .box6 .pic_2 {margin: 0 0px 0 0;}


/**/
.car_detail .box7 {z-index: 1; background: url(../img/trax/page_bg_7.jpg) no-repeat 50% 55%; background-size:100% auto; }
.car_detail .box7 .cnt{position: absolute; left:96%; top:51%; margin:74px 0 0 -132px;width: 150px;}
.car_detail .box7 .pic{width: 56px; float: left;}
.car_detail .box7 .pic img{width:100%;}
.car_detail .box7 .pic_1 {margin: 0 6px 0 0;}
.car_detail .box7 .pic_2 {margin: 0 0px 0 0;}




.epicabox {position:absolute;}
.carInfo{font-size: 16px; color: #FFFFFF; display: block; text-align: center; margin: 40px auto;}
.hide{
	display: none;
}

.hide_video{
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: #000;
	z-index: 1000;
	display: none;
}
.hide_video video{
	position: relative;
	z-index: 999;
}


/***************************************/

.video_box{
	position: absolute;
	background-image: url("../img/trax/trax_video.png");
	background-repeat: no-repeat;
	background-size: 100% auto;
	width: 213px;
	height: 322px;
	top: 50%;
	left: 50%;
	margin-top: -188px;
	margin-left: -106px;
}
.vclick{
	width: 63px;
	height: 45px;
	opacity: 0.8;
	position: absolute;
	top:10px;
	left: 10px;
	cursor: pointer;
	background-image: url('#');
}
.video_1{
	left: 11px;
    top: 191px;
}
.video_2{
	left: 77px;
	top: 191px;
}
.video_3{
	left: 144px;
	top: 191px;
}
.video_4{
    width: 46px;
	height: 49px;
    left: 11px;
    top: 268px;
}
.video_5{
    width: 46px;
	height: 49px;
	left: 61px;
	top: 268px;
}
.video_6{
    width: 46px;
	height: 49px;
	left: 110px;
	top: 268px;
}
.video_7{
    width: 46px;
	height: 49px;
	left: 160px;
	top: 268px;
}


/**/
.car_detail .box8 {z-index: 1; background-color: #FFFFFF; }
.car_detail .box8 .cnt{}