
/*
contentCar
 */
#wrap {
	width: 320px;
	position: relative;
}
#head{
	position: absolute;
}
 
/*carHTML*/
.carHTML{overflow-y: auto;}
.carHTML body{overflow-y: auto;}
.contentCar { width:100%; position:relative;  overflow:hidden;background: #000;}

.car_kv{ position:relative;z-index: 0;/*height: 300px;*/}
.car_kv .ulPic{ position:relative; z-index:1; left:0; top:0; width:100%; height:100%; overflow:hidden;text-align:center;}
.car_kv .ulPic li { width:100%; height:100%; float:left; background-repeat: no-repeat; background-position: 50% 0%;background-size: auto 100%;  }
.car_kvInfo{ background: url(../img/trax/page_bottom.jpg) no-repeat 50% 0;/*background-size: 100% auto;*/}
.car_kvInfo .kvName{text-align:center; background: #250b0c; line-height: 30px;height: 30px; overflow: hidden; color: #fff; /*visibility: hidden;text-indent: -999px;*/}
.car_kv .ulSwitch{/* position:absolute; z-index:2; left:0; bottom:-20%; width:100%;*/ text-align:center;}
.car_kv .ulSwitch li{ display:inline-block; width:20px; height:20px;}
.car_kv .ulSwitch li a{ width:10px; height:10px; display:inline-block; margin:0 auto; background:#fff;  border-radius:5px 5px 5px 5px;}
.car_kv .ulSwitch li.liCurr a{ background:#b90108; }
.car_feature{position: relative; top: -18px; z-index: 2;text-align:center; background: url('../img/trax/info.jpg') no-repeat 50% 0;background-size: 100% auto; margin: 0 10px; height: 80px;}



/**/
.car_detail{ width:100%; /*position:absolute; top:0; left: 0;*/ text-align:center; color:#fff; }
.car_detail .bg { width:100%;}
.car_detail .cmnBox { position:absolute; z-index:0; left:0; top:0; text-align:left;width:100%;height: 480px; overflow: hidden; }
.car_detail .cmnBox .imgBg{ width: 100%;}
.car_detail .cmnBox .cnt{ position: absolute;z-index: 0;left: 0;top:0;width: 100%; height: 100%;}

.car_detail .aLightPic{
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.car_detail .pic{
	/*
	opacity: 0.8;
	background: red;
	*/
}
.car_detail .cmnBox .pic {position: absolute; z-index: 1;top: 50%;left: 50%;}
/**/
.car_detail .box1 {z-index: 1; background: url('../img/trax/pg/pg1.jpg'); background-repeat: no-repeat; background-position: 50% 50%; background-size:100% auto; }
.car_detail .box1 .pic_1 {
	width: 84px;
	height: 62px;
	margin-top: 98px;
	margin-left: -8px;
}
.car_detail .box1 .pic_2 {
	width: 84px;
	height: 62px;
	margin-top: 98px;
	margin-left: 78px;
}


/**/
.car_detail .box2 {z-index: 1; background: url('../img/trax/pg/pg2.jpg'); background-repeat: no-repeat; background-position: 50% 50%; background-size:100% auto; }
.trans{ -webkit-transition-property:top; -moz-transition-property:top; -ms-transition-property:top; -o-transition-property:top; transition-property:top; -webkit-transition-duration:500ms; -moz-transition-duration:500ms; -ms-transition-duration:500ms; -o-transition-duration:500ms; transition-duration:500ms; }

.car_detail .box2 .pic_1 {
	width: 288px;
	height: 148px;
	margin-top: -58px;
	margin-left: -128px;
}
.car_detail .box2 .pic_2 {
	width: 90px;
	height: 66px;
	margin-top: 93px;
	margin-left: -127px;
}
.car_detail .box2 .pic_3 {
	width: 108px;
	height: 66px;
	margin-top: 93px;
	margin-left: -35px;
}
.car_detail .box2 .pic_4 {
	width: 84px;
	height: 66px;
	margin-top: 93px;
	margin-left: 76px;
}


/**/
.car_detail .box3 {z-index: 1; background: url('../img/trax/pg/pg3.jpg'); background-repeat: no-repeat; background-position: 50% 50%; background-size:100% auto; }
.car_detail .box3 .pic_1 {
	width: 82px;
	height: 58px;
	margin-top: 86px;
	margin-left: -160px;
}
.car_detail .box3 .pic_2 {
	width: 82px;
	height: 58px;
	margin-top: 86px;
	margin-left: -77px;
}


/**/
.car_detail .box4{z-index: 1;background: url('../img/trax/pg/pg4.jpg'); background-repeat: no-repeat; background-position: 50% 50%; background-size:100% auto; }
.car_detail .box4 .pic_1 {
	width: 136px;
	height: 76px;
	margin-top: -68px;
	margin-left: -136px;
}
.car_detail .box4 .pic_2 {
	width: 136px;
	height: 76px;
	margin-top: -68px;
	margin-left: 3px;
}


/**/
.car_detail .box5 {z-index: 1;background: url('../img/trax/pg/pg5.jpg'); background-repeat: no-repeat; background-position: 50% 50%; background-size:100% auto; }
.car_detail .box5 .pic_1 {
	width: 88px;
	height: 62px;
	margin-top: 88px;
	margin-left: -160px;
}
.car_detail .box5 .pic_2 {
	width: 88px;
	height: 62px;
	margin-top: 88px;
	margin-left: -68px;
}


/**/
.car_detail .box6 {z-index: 1; background: url('../img/trax/pg/pg6.jpg'); background-repeat: no-repeat; background-position: 50% 50%; background-size:100% auto; }
.car_detail .box6 .pic_1 {
	width: 128px;
	height: 68px;
	margin-top: 80px;
	margin-left: -128px;
}
.car_detail .box6 .pic_2 {
	width: 128px;
	height: 68px;
	margin-top: 80px;
	margin-left: 4px;
}


/**/
.car_detail .box7 {z-index: 1; background: url('../img/trax/pg/pg7.jpg'); background-repeat: no-repeat; background-position: 50% 50%; background-size:100% auto; }
.car_detail .box7 .pic_1 {
	width: 128px;
	height: 68px;
	margin-top: 80px;
	margin-left: -128px;
}
.car_detail .box7 .pic_2 {
	width: 128px;
	height: 68px;
	margin-top: 80px;
	margin-left: 4px;
}




.epicabox {position:absolute;}
.carInfo{font-size: 16px; color: #FFFFFF; display: block; text-align: center; margin: 40px auto;}
.car_detail .aLightPic.hide{
	display: none;
}

.hide_video{
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: #000;
	z-index: 1000;
	display: none;
}
.hide_video video{
	position: relative;
	z-index: 999;
}


/***************************************/

.video_box{
	position: absolute;
	background-image: url("../img/trax/trax_video.png");
	background-repeat: no-repeat;
	background-size: 100% auto;
	width: 213px;
	height: 322px;
	top: 50%;
	left: 50%;
	margin-top: -188px;
	margin-left: -106px;
}
.vclick{
	width: 300px;
	height: 100px;
	position: absolute;
	cursor: pointer;
	top: 50%;
	left: 50%;
	/*
	opacity: 0.8;
	background-color: red;
	*/
}
.video_1{
	margin-top: -154px;
	margin-left: -150px;
}
.video_2{
	margin-top: -48px;
	margin-left: -150px;
}
.video_3{
	margin-top: 58px;
	margin-left: -150px;
}


/**/
.car_detail .box8 {z-index: 1; background-color: #FFFFFF; }
.car_detail .box8 .cnt{}