@media screen and (max-height:422px){
	#car_kv .ulPic{
	/*
		margin-top: -24px;
		*/
	}
	#car_kv .car_feature{
		top: -20px;
	}
	
	.car_kvInfo {
		height: 20px;
		background: none;
	}
	
	.car_detail #box1 .pic {
		width: 160px;
	}
	
	.car_detail #box1 .pic_1 {
		margin: -176px 0 0 -80px;
	}
	.car_detail #box1 .pic_2 {
		margin: -102px 0 0 -80px;
	}
	.car_detail #box1 .pic_3 {
		margin: -26px 0 0 -80px;
	}
	.car_detail #box1 .pic_4 {
		margin: 56px 0 0 -80px;
	}
	.car_detail .box2{
		background: none;
		background-image:  url("../img/trax/page_bg_2.jpg");
		background-repeat: no-repeat;
		background-position: 50% 64%;
		background-size: 100% auto;
		background-color: #000000;
	}
	
	.car_detail .box2 .pic_1{
		margin: -68px 0 0 -20px;
	}
	.car_detail .box2 .pic_2{
		margin: -68px 0 0 44px;
	}
	.car_detail .box2 .pic_3{
		margin: -18px 0 0 -144px;
	}
	
	.car_detail .box3{
		background: none;
		background-image:  url("../img/trax/page_bg_3.jpg");
		background-repeat: no-repeat;
		background-position: 50% 69%;
		background-size: 100% auto;
		background-color: #000000;
	}
	
	.car_detail .box3 .cnt{
		margin: -50px 0 0 -17px;
	}
	
	.car_detail .box4{
		background: none;
		background-image:  url("../img/trax/page_bg_4.jpg");
		background-repeat: no-repeat;
		background-position: 50% 87%;
		background-size: 100% auto;
		background-color: #000000;
	}
	
	.car_detail .box4 .cnt{
		top: 68%;
	}
	
	.car_detail .box5{
		background: none;
		background-image:  url("../img/trax/page_bg_5.jpg");
		background-repeat: no-repeat;
		background-position: 50% 78%;
		background-size: 100% auto;
		background-color: #000000;
	}
	
	.car_detail .box6{
		background: none;
		background-image:  url("../img/trax/page_bg_6.jpg");
		background-repeat: no-repeat;
		background-position: 50% 62%;
		background-size: 100% auto;
		background-color: #000000;
	}
	
	.car_detail .box6 .cnt {
		top: 31%;
	}
	
	.car_detail .box7{
		background: none;
		background-image:  url("../img/trax/page_bg_7.jpg");
		background-repeat: no-repeat;
		background-position: 50% 59%;
		background-size: 100% auto;
		background-color: #000000;
	}
	
	.car_detail .box7 .cnt {
		top: 46%;
	}
	.video_box{
		top: 0%;
		margin-top: 0px;
	}
}
